*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background: linear-gradient(rgb(107, 255, 107) , yellow);
    background-clip: text;
    color: transparent;
    font-size: 30px;
}
h2{
    font-family: monospace;
    background: linear-gradient(rgb(107, 255, 107) , yellow);
    background-clip: text;
    color: transparent;
    font-size: 30px;
}

#passwordbox{
    height: 40px;
    width: 400px;
    border: 1px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    font-family: monospace;
    font-size: 26px;
    outline: none;
}

.copy{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(rgb(107, 255, 107) , yellow);
    background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid white;
}
.generate-pass{
    display: flex;
    gap: 10px;
}

.generate{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(rgb(107, 255, 107) , yellow);
    background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid white;
}

.conatiner{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}